**Q1. Create one variable containing following type of data:**
**(i) string   (ii) list  (iii) float   (iv) tuple**

In [1]:
# (i) String
my_string = "Data Scinece Masters 2.0"

# (ii) List
my_list = [1, 2, 89, 65, "pwskills", "Data Science"]

# (iii) Float
my_float = 3.14523

# (iv) Tuple
my_tuple = (10, 15, 20, 25, 30, 35)

In [6]:
print("String:",my_string)
print("List : ",my_list)
print(f'Float : {my_float}')
print(f'Tuple : {my_tuple}')

String: Data Scinece Masters 2.0
List :  [1, 2, 89, 65, 'pwskills', 'Data Science']
Float : 3.14523
Tuple : (10, 15, 20, 25, 30, 35)

**Q2. Given are some following variables containing data:**
**(i) var1 = ‘ ‘ (ii) var2 = ‘[ DS , ML , Python]’  (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]  (iv) var4 = 1.**
**What will be the data type of the above given variable.**

In [11]:
# var1
var1 = ' '
type_var1 = type(var1)  # This will be a string


# var2
var2 = '[ DS , ML , Python]'
type_var2 = type(var2)  # This will be a string

# var3
var3 = ['DS', 'ML', 'Python']
type_var3 = type(var3)  # This will be a list

# var4
var4 = 1.0
type_var4 = type(var4)  # This will be a float

Var 1 = ' ' : <class 'str'>

In [13]:
print(f"Var 1 = ' ' : {type_var1}")
print(f"var2 = '[ DS , ML , Python]' : {type_var2}")
print(f"var3 = ['DS', 'ML', 'Python'] : {type_var3}")
print("var4 = 1.0 : ", type_var4)

Var 1 = ' ' : <class 'str'>
var2 = '[ DS , ML , Python]' : <class 'str'>
var3 = ['DS', 'ML', 'Python'] : <class 'list'>
var4 = 1.0 :  <class 'float'>

**Q3. Explain the use of the following operators using an example:**
<font color='green'>
(i) /  (ii) %   (iii) //   (iv) **
</font>

(i)  / (Division Operator):
The / operator performs division between two numbers and returns the quotient as a floating-point number.

In [17]:
# Example of Division Operator (/)
a = 10
b = 3
result = a / b  
print(result)

3.3333333333333335

(ii) % (Modulo Operator):
The % operator returns the remainder of the division of the left operand by the right operand.

In [23]:
# Example of Modulo Opeator (%)
a = 10
b = 3
remainder = a % b 
print(remainder)

1

(iii)  // (Floor Division Operator):
The // operator performs division where the result is rounded down to the nearest whole number.

In [22]:
# Example of Floor Division Operator (//)
a = 10
b = 3
result = a // b  
print(result)

3

(iv)   ** (Exponent Operator):
The ** operator raises the left operand to the power of the right operand.

In [21]:
# Example of Exponent Operator (**)
a = 2
b = 3
result = a ** b  
print(result)

8

**Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the**
**element and its data type.**

In [24]:
# Create a list of length containing 10 multiple data types of data

my_list = [1, "hello", 3.14, True, [1, 2], {'a': 1}, (5, 6), None, 'Python', 7]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 1, Data Type: <class 'int'>
Element: hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2], Data Type: <class 'list'>
Element: {'a': 1}, Data Type: <class 'dict'>
Element: (5, 6), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>
Element: Python, Data Type: <class 'str'>
Element: 7, Data Type: <class 'int'>

**Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many**
**times it can be divisible.**

In [33]:
# Case 1 Where A and B are divisible
A = 100  
B = 5    

count = 0

while A % B == 0:
    A /= B
    count += 1

if count > 0:
    print(f"{A*B} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

20.0 is divisible by 5 and can be divided 2 times.

**Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is**
**divisible by 3 or not.**

In [34]:
# Creating a list of 25 integers 
my_list = [23, 15, 8, 9, 12, 7, 18, 30, 11, 5,
           27, 21, 14, 17, 20, 33, 6, 10, 25, 24,
           36, 19, 22, 16, 13]

# Using a for loop to iterate through the list
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

23 is not divisible by 3
15 is divisible by 3
8 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
7 is not divisible by 3
18 is divisible by 3
30 is divisible by 3
11 is not divisible by 3
5 is not divisible by 3
27 is divisible by 3
21 is divisible by 3
14 is not divisible by 3
17 is not divisible by 3
20 is not divisible by 3
33 is divisible by 3
6 is divisible by 3
10 is not divisible by 3
25 is not divisible by 3
24 is divisible by 3
36 is divisible by 3
19 is not divisible by 3
22 is not divisible by 3
16 is not divisible by 3
13 is not divisible by 3

**Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.**



<font color='darkblue'>

**Immutable Data Types: Immutable objects cannot be altered after they are created. Any operation that appears to modify an**
**immutable object actually creates a new object.**
**Examples include integers, floats, strings, tuples, and frozensets.**
</font>

In [39]:
# Immutable examples
a = 5
b = "Hello"
c = (1, 2, 3)

In [40]:
a

5

In [41]:
# When you perform operations on immutable types, like concatenating strings or 
# modifying numbers, you're actually creating new objects. For instance:

# Modifying immutable types creates new objects
a = 5
a += 1  # This creates a new object with value 6

In [42]:
a

6

<font color='darkblue'>

**Mutable Data Types: Mutable objects can be altered after creation. Changes to a mutable object affect the object itself.**
**Examples include lists, dictionaries, sets.**
</font>

In [37]:
# Mutable examples
list_example = [1, 2, 3]
dict_example = {'a': 1, 'b': 2}
set_example = {1, 2, 3}

# When you modify mutable types, you're altering the same object:

# Modifying mutable types
list_example = [1, 2, 3]
list_example.append(4) 
print(list_example) # This alter the original list

[1, 2, 3, 4]